
   //Collection Button Styles

.add-to-collection-button {
    width: 25%; 
    margin: 20px auto; 
    padding: 10px;
    font-size: 16px;
    background-color: inherit;
    color: white;
    border: 2px dotted aqua;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    text-align: center;
}


   //Collection Container Styles

.collection-container {
    width: 90%; 
    max-width: 80%; 
    margin: 30px auto; 
    padding: 20px; 
    background-color: #B4436C; 
    border: 2px solid aqua; 
    border-radius: 10px;
    text-align: center;
    color: white;
}

   //Collection Box Layout

.collection-box {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 15px; 
    margin-top: 20px; 
    padding: 0;  
}

.collection-box img {
    width: 40%; 
    height: auto;
    border: 2px solid aqua; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover; 
}


   //Email Input Section

.email-section {
    margin: 20px auto; 
    text-align: center; 
    width: 90%;
    max-width: 600px; 
    box-sizing: border-box;
}

.email-section input {
    padding: 10px;
    font-size: 16px;
    width: 100%; 
    max-width: 300px; 
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid aqua;
    color: white;
    outline: none; 
    background-color: #434371;
}

.email-section button {
    padding: 10px;
    font-size: 16px;
    background-color: plum;
    color: white;
    border: 2px solid aqua;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}


   //Dropdown Section

.dropdown-section {
    margin: 20px auto;
    text-align: center;
}

.dropdown-section label {
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.dropdown-section select {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid aqua;
    border-radius: 8px;
    outline: none;
    background-color: #434371;
    color: white;
    appearance: none; 
}


  // Responsive Styles


/* For Small Screens (Up to 767px) */
@media (max-width: 767px) {

    .add-to-collection-button {
        width: 50%; 
        font-size: 12px; 
    }

 
    .collection-box img {
        width: 100%;  
    }

    .email-section {
        width: 100%;  
        padding: 10px; 
    }

    .email-section input,
    .email-section button {
        width: 80%;  
        margin-right: 0;  
    }

    .email-section button {
        margin-top: 10px;  
    }


    .dropdown-section select {
        width: 100%; 
    }
}

/* For Medium Screens (768px to 994px) */
@media (min-width: 768px) and (max-width: 994px) {
   
    .add-to-collection-button {
        width: 60%;
        font-size: 15px; 
    }

    .collection-box img {
        width: 45%; 
    }

    
    .email-section input {
        width: 70%; 
    }

    .email-section button {
        width: 70%; 
    }

    .dropdown-section select {
        width: 80%; 
    }
}
