header {
    padding: 20px;
    background-color: aqua; /* Header background color */
    text-align: center; /* Center the header text */
}

header h1 {
    font-size: 2em; /* Title font size */
    margin: 0; /* Remove default margin */
    color: pink; /* Set header text color */
}